<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tis.retulix.mapper.UserRegMapper"> <!--namespace는 mapper.java
																id는 mapper에 있는 메소드명   -->

	<select id="userEmailCheck" parameterType="string" resultType="int"> <!-- resultType 나가는 데이터 parameterType 들어오는 데이터  -->
		select count(*)from member where email=#{email}	
	</select>

</mapper>